/* 1.- We set the page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* 2.- Set .banner class */
.banner {
  display: grid;
  grid-template-columns: 3fr 4fr;
}

/* 3.- Set .banner .box class */
.banner .box {
  position: relative;
  background: #131f37;
  height: 100vh;
}

/* 4.- Set .banner .box:nth-child(2) */
/* .banner .box:nth-child(2){
    background: #f0f;
} */

/* 5.- Set style to header css */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 6.- Set header .logo img css */
header .logo img {
  max-width: 200px;
}

/* 7.- Set header ul css */
header ul {
  display: flex;
  gap: 60px;
}

/* 8.- Set header ul li css */
header ul li {
  list-style: none;
}

/* 9.- Set header ul li a css */
header ul li a {
  text-decoration: none;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 1px;
}

/* 10.- Set header ul li a:hover css */
header ul li a:hover {
  color: rgba(255, 255, 255, 1);
}

/* 11.- Set .banner .content css */
.banner .content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
}

/* 12.- Set .banner .content .contentBox css */
.banner .content .contentBox {
  text-align: center;
}

/* 13.- Set .banner .content .contentBox img css */
.banner .content .contentBox img {
  width: 100%;
}

/* 14.- Set .banner .content .contentBox p css */
.banner .content .contentBox p {
  font-size: 1.2em;
  color: #fff;
  font-weight: 300;
}

/* 15.- Set .banner .content .contentBox .btn css */
.banner .content .contentBox .btn {
  display: inline-block;
  font-size: 1.1em;
  color: #333;
  background: #fff;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 30px;
  letter-spacing: 1px;
  text-decoration: none;
  transition: 0.5s;
}

/* 16.- Set .banner .content .contentBox .btn:hover css */
.banner .content .contentBox .btn:hover {
    letter-spacing: 2px;
}

/* 17.- Set .sci css */
.sci{
    position: absolute;
    bottom: 30px;
    right: 60px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

/* 18.- Set .sci h3 css */
.sci h3{
    font-weight: 500;
    color: rgba(255, 255, 255, 0.75);
    letter-spacing: 1px;
}

/* 18.- Set .sci li css */
.sci li{
    list-style: none;
}